<h1>
    Welcome to {{ title }}!
</h1>

<ul>
    <li>
        <h2><a routerLink="/" routerLinkActive="_active">Home</a></h2>
    </li>
    <li>
        <h2><a routerLink="/router-lazy" routerLinkActive="_active">Lazy module</a></h2>
    </li>
    <li>
        <h2><a href="#" (click)="_click($event)">Router free lazy module</a></h2>
    </li>
    <li>
        <h2><a routerLink="/library-lazy" routerLinkActive="_active">Module from library</a></h2>
    </li>
</ul>

<lazy-af
    *ngIf="loadRouterFreeModule"
    moduleName="src/app/modules/router-free-lazy/router-free-lazy.module#RouterFreeLazyModule"
></lazy-af>

<router-outlet></router-outlet>
